.navbar {
    margin:0 !important;
    padding: 0px !important;
    animation: fadeIn 2s;
}
a
{
    text-decoration: none;
}
#header-first{
    animation: fadeIn 2s;
}
#header-second{
    animation: fadeIn 3s;
}
#header-third{
    animation: fadeIn 4s;
}
#education{
    animation: fadeIn 5s;
}
#skills{
    animation: fadeIn 6s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}